<div class="ship-card" *ngIf="ship">
    <div class="ship-card__title">{{ ship.name }}</div>
    <div class="ship-card__row">
        <span class="ship-card__label">Model:</span>
        <span class="ship-card__value">{{ ship.model }}</span>
    </div>
    <div class="ship-card__row">
        <span class="ship-card__label">Manufacturer:</span>
        <span class="ship-card__value">{{ ship.manufacturer }}</span>
    </div>
    <div class="ship-card__row">
        <span class="ship-card__label">Length:</span>
        <span class="ship-card__value">{{ ship.length }}</span>
    </div>
    <div class="ship-card__row">
        <span class="ship-card__label">Crew:</span>
        <span class="ship-card__value">{{ ship.crew }}</span>
    </div>
    <div class="ship-card__row">
        <span class="ship-card__label">Passengers:</span>
        <span class="ship-card__value">{{ ship.passengers }}</span>
    </div>
    <div class="ship-card__row">
        <span class="ship-card__label">Cargo Capacity:</span>
        <span class="ship-card__value">{{ ship.cargoCapacity }}</span>
    </div>
    <div class="ship-card__row">
        <span class="ship-card__label">Consumables:</span>
        <span class="ship-card__value">{{ ship.consumables }}</span>
    </div>
</div>
<div *ngIf="!ship" class="ship-card">
    <div class="ship-card__title">No ship data available.</div>
</div>