<div class="container">
    <h1 class="user-registration">User registration</h1>
    <form [formGroup]="form" class="form" (ngSubmit)="submitForm()">
        <div class="form-group form-item">
            <label class="form-item-label" for="firstName">First name</label>
            <input type="text" class="form-control" formControlName="firstName">
        </div>
        <div class="form-group form-item">
            <label class="form-item-label" for="lastName">Last name</label>
            <input type="text" class="form-control" formControlName="lastName">
        </div>

        <div class="form-group form-item">
            <label class="form-item-label" for="email">Email</label>
            <input type="text" class="form-control" formControlName="email">
        </div>

        <div class="form-group form-item">
            <label class="form-item-label" for="password">Password</label>
            <input type="password" class="form-control" formControlName="password">
        </div>
        <button class="button" type="submit">Submit</button>
    </form>
</div>