.nav {
  width: 100%;
  font-size: large;
  padding: 2.4rem;
  margin-bottom: 2.4rem;
}

.nav-link:link,
.nav-link:visited {
  margin: 10px;
  text-decoration: none;
  color: #45260a;
}

.nav-link:hover,
.nav-link:active {
  color: #cf711f;
}
