<section class="info-container">
  <h1>Welcome to our parking</h1>
  <article>
    <h2>
      Here you can see information about different types of vehicles mostly cars
      and motorbikes. Choose your favourite vehicle and enjoy it.
    </h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus,
      molestias eaque quas a nobis similique tenetur porro beatae. Provident sed
      eligendi similique ipsum ad possimus fugit quisquam vel atque eius?Lorem
      ipsum dolor sit amet consectetur adipisicing elit. Et fugiat ullam
      dignissimos. Id nesciunt accusantium voluptate repellendus tenetur.
      Deleniti rerum iste aliquid asperiores a enim velit? Doloremque magni quam
      obcaecati?Lorem, ipsum dolor sit amet consectetur adipisicing elit.
      Tenetur id atque, eaque corporis, qui odio expedita, fugiat quia
      laudantium praesentium quis dignissimos. Accusantium voluptate nulla culpa
      error officia facilis labore! Lorem ipsum dolor sit amet consectetur,
      adipisicing elit. Praesentium, consequatur eius ullam officia nam a vitae
      similique esse corporis debitis earum dolor minima ducimus fugiat.
      Obcaecati recusandae odit vero repellendus.
    </p>
  </article>
</section>
