<section class="login-section" *ngIf="loginForm">
  <form
    fxLayout="column"
    fxLayoutAlign="center center"
    [formGroup]="loginForm"
    fxLayoutGap="10px"
    (ngSubmit)="onSubmit()"
  >
    <mat-form-field hintLabel="Shoud be valid email address." appearance="fill">
      <mat-label>Email</mat-label>
      <input type="email" matInput name="email" formControlName="email" />
      <mat-error>Invalid or missing email.</mat-error>
    </mat-form-field>

    <mat-form-field hintLabel="Shoud be valid password." appearance="fill">
      <mat-label>Password</mat-label>
      <input
        type="password"
        matInput
        name="password"
        formControlName="password"
      />
      <mat-error>Missing password.</mat-error>
    </mat-form-field>

    <button
      type="submit"
      color="primary"
      mat-raised-button
      [disabled]="loginForm.invalid"
    >
      Login
    </button>
  </form>
</section>
