<section class="container">
    <section class="users">
        <h2>Users</h2>
        <ul>
            @for (user of users; track user.id) {
            <app-user [user]="user" (selected)="onUserSelected($event)"></app-user>
            }
        </ul>
    </section>

    @if (selectedUser) {
    <section class="user-details">
        <h2>{{ selectedUser.name }}</h2>
        @for (task of userTasks; track task.id) {
        <app-task [task]="task"></app-task>
        }
    </section>
    }@else {
    <p class="no-user-selected">Please select a user to see details.</p>
    }
</section>