.container {
    display: flex;
    gap: 2rem;
    font-family: Arial, sans-serif;
    color: #333;
    padding: 2rem 0;
}

.users {
    
    width: 30%;
    background-color: #f0f4f8;
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(94, 127, 166, 0.1);
    text-align: center;

    ul {
        list-style-type: none;
        padding: 0;
    }
}

.user-details {
    
    width: 60%;
    background-color: #e8f0fe;
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(66, 133, 244, 0.1);
}

.no-user-selected {   
    width: 60%;
    color: #777;
    text-align: center;
    margin-top: 2rem;
    justify-self: center;
}