<div class="container">
  <h1>Movies genres</h1>
  <div class="grid">
    <div *ngFor="let movieGenre of movieGenres" class="col-6 md:col-3 lg:col-2">
      <a class="genre-link" [routerLink]="'/movies/genres/' + movieGenre.id"
        >{{ movieGenre.name }}
      </a>
    </div>
  </div>

  <h1>Tv shows genres</h1>
  <div class="grid">
    <div
      *ngFor="let tvshoeGenre of tvshowGenres"
      class="col-6 md:col-3 lg:col-2"
    >
      <a class="genre-link" [routerLink]="'/tv/genres/' + tvshoeGenre.id"
        >{{ tvshoeGenre.name }}
      </a>
    </div>
  </div>
</div>
