<section class="container">
    <section class="users">
        <h2>Users</h2>
        <ul>
            @for (user of users; track user.id) {
            <app-user [user]="user" (selected)="onUserSelected($event)"></app-user>
            }
        </ul>
    </section>

    @if (selectedUser) {
    <section class="user-details">
        <div>
            <h2>{{ selectedUser.name }}</h2>
            <button (click)="onOpenModal()">Add Task</button>
        </div>
        @for (task of userTasks; track task.id) {
        <app-task [task]="task" (taskCompleted)="onTaskCompleted($event)"></app-task>
        }
    </section>
    }@else {
    <p class="no-user-selected">Please select a user to see details.</p>
    }
</section>

@if (openAddTaskModal && selectedUser) {
<app-new-task [userId]="selectedUser.id" (closeModal)="onCloseModal($event)" (taskCreated)="onTaskCreated($event)">
</app-new-task>
}