.container {
    display: flex;
    gap: 2rem;
    font-family: Arial, sans-serif;
    color: #333;
    padding: 2rem 0;
}

.users {
    
    width: 30%;
    background-color: #f0f4f8;
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(94, 127, 166, 0.1);
    text-align: center;
    transition: all 0.3s ease;

    ul {
        list-style-type: none;
        padding: 0;
    }

    &.highlight {
        background-color: #e0e9f8;
        box-shadow: 0 4px 16px rgba(66, 133, 244, 0.2);
    }
}

.user-details {
    
    width: 60%;
    background-color: #e8f0fe;
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(66, 133, 244, 0.1);

    div {
        padding: 0.3rem;
        display: flex;
        justify-content: space-between;
        align-items: center;

        button {
            padding: 0.5rem 1rem;
            background-color: #10b981;
            color: white;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            &:hover {
                background-color: #059669;
            }
        }
    }
}

.no-user-selected {   
    width: 60%;
    color: #777;
    text-align: center;
    margin-top: 2rem;
    justify-self: center;
}